body {
    font-family:"Microsoft YaHei","寰蒋闆呴粦","瀹嬩綋"
}
.edit-wrap .edit-title {

}
.edit-wrap .edit-title:hover {

}
.edit-wrap {

}
.edit-wrap div[class^="edit-setting-"] a:hover {
    color: #449d44;
}
#pic-1482909919-805077-6 {
    background-color:rgba(0, 0, 0, 0);margin-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#pic-1482909919-805077-6 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#placeholder-1482909257-758685-0  {
    height:50px;
}
#text-1482896364-289128-2 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#text-1482896364-289128-2 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#placeholder-1482896363-255861-1  {
    height:20px;
}
#placeholder-1482912301-290303-2  {
    height:50px;
}
#placeholder-1482896363-829023-1  {
    height:20px;
}
#pic-1482911968-548235-8 {
    background-color:rgba(0, 0, 0, 0);margin-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#pic-1482911968-548235-8 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#pic-1482909919-004699-2 {
    background-color:rgba(0, 0, 0, 0);margin-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#pic-1482909919-004699-2 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#titleText-1482896469-665605-4 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#titleText-1482896469-665605-4 .site-widget-hd {
    display:block;font-size:18px;color:rgb(51, 51, 51);background-color:rgba(0, 0, 0, 0);margin-bottom:5px;padding-top:10px;padding-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-width:0px;
}
#titleText-1482896469-665605-4 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#container-outer-1482909919-949834-0 {
    background-color:rgb(60, 120, 216);padding-top:50px;padding-bottom:40px;background-image:none;background-attachment:scroll;background-size:auto;background-repeat:repeat;
}
#container-outer-1482909919-949834-0 .row {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-attachment:scroll;background-size:auto;background-repeat:repeat;
}
#container-outer-1482896364-329841-0 {
    background-color:rgb(7, 28, 51);background-image:none;background-attachment:scroll;background-size:auto;background-repeat:repeat;
}
#container-outer-1482896364-329841-0 .row {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-attachment:scroll;background-size:auto;background-repeat:repeat;
}
#text-1482896364-221064-4 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#text-1482896364-221064-4 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#titleText-1482906467-268550-0 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#titleText-1482906467-268550-0 .site-widget-hd {
    display:block;font-size:18px;color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);margin-bottom:5px;padding-top:10px;padding-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-width:0px;
}
#titleText-1482906467-268550-0 .site-widget-hd .edit-title-link {
    color:rgb(255, 255, 255);
}
#titleText-1482906467-268550-0 .site-widget-bd {
    color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#titleText-1482906467-268550-0 .site-widget-bd a {
    color:rgb(255, 255, 255);
}
#pic-1482909919-816993-2 {
    background-color:rgba(0, 0, 0, 0);margin-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#pic-1482909919-816993-2 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#quickNav-1482904628-901948-6 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#quickNav-1482904628-901948-6 .site-widget-bd {
    color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#quickNav-1482904628-901948-6 .site-widget-bd a {
    color:rgb(255, 255, 255);
}
#placeholder-1482897879-957263-5  {
    height:40px;
}
#placeholder-1482896364-014153-8  {
    height:20px;
}
#baiduMap-1482911815-252582-0 .map-warp {
    height:350px;
}
#placeholder-1482896364-539324-1  {
    height:20px;
}
#text-1482906180-273920-5 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(255, 255, 255);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(255, 255, 255);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(255, 255, 255);border-left-style:none;border-left-width:0px;border-right-color:rgb(255, 255, 255);border-right-style:none;border-right-width:0px;
}
#text-1482906180-273920-5 .site-widget-bd {
    color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(255, 255, 255);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(255, 255, 255);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(255, 255, 255);border-left-style:none;border-left-width:0px;border-right-color:rgb(255, 255, 255);border-right-style:none;border-right-width:0px;margin-top:0px;padding-top:0px;padding-bottom:0px;padding-right:0px;
}
#productList-1482896364-481121-6 .site-widget-bd .pdl-item .pdl-item-box {
    border-style:solid;border-color:rgb(238, 238, 238);
}
#productList-1482896364-481121-6 .site-widget-bd .pdl-item .pdl-item-box:hover {
    border-style:solid;border-color:rgb(221, 221, 221);
}
#pic-1482907069-286432-8 {
    background-color:rgba(0, 0, 0, 0);margin-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#pic-1482907069-286432-8 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#titleText-1482909919-928378-1 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#titleText-1482909919-928378-1 .site-widget-hd {
    display:block;font-size:18px;color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);margin-bottom:5px;padding-top:10px;padding-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-width:0px;
}
#titleText-1482909919-928378-1 .site-widget-hd .edit-title-link {
    color:rgb(255, 255, 255);
}
#titleText-1482909919-928378-1 .site-widget-bd {
    color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#titleText-1482909919-928378-1 .site-widget-bd a {
    color:rgb(255, 255, 255);
}
#pic-1482910338-722438-9 {
    background-color:rgba(0, 0, 0, 0);margin-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#pic-1482910338-722438-9 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#placeholder-1482904541-452198-8  {
    height:40px;
}
#placeholder-1482907892-713649-0  {
    height:60px;
}
#placeholder-1482907858-325182-5  {
    height:60px;
}
#pic-1482910338-649771-1 {
    background-color:rgba(0, 0, 0, 0);margin-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#pic-1482910338-649771-1 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#text-1482904044-598173-4 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#text-1482904044-598173-4 .site-widget-bd {
    color:rgb(0, 0, 0);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#placeholder-1482907866-159077-2  {
    height:40px;
}
#titleText-1482906467-264945-7 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#titleText-1482906467-264945-7 .site-widget-hd {
    display:block;font-size:18px;color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);margin-bottom:5px;padding-top:10px;padding-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-width:0px;
}
#titleText-1482906467-264945-7 .site-widget-hd .edit-title-link {
    color:rgb(255, 255, 255);
}
#titleText-1482906467-264945-7 .site-widget-bd {
    color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#titleText-1482906467-264945-7 .site-widget-bd a {
    color:rgb(255, 255, 255);
}
#pic-1482897924-752783-9 {
    background-color:rgba(0, 0, 0, 0);margin-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#pic-1482897924-752783-9 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#titleText-1482903582-375501-0 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#titleText-1482903582-375501-0 .site-widget-hd {
    display:block;font-size:18px;color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);margin-bottom:5px;padding-top:10px;padding-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-width:0px;
}
#titleText-1482903582-375501-0 .site-widget-bd {
    color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#titleText-1482903582-375501-0 .site-widget-hd .edit-title-link {
    color:rgb(255, 255, 255);
}
#titleText-1482903582-375501-0 .site-widget-bd a {
    color:rgb(255, 255, 255);
}
#container-outer-1482897924-596959-0 {
    background-color:rgb(60, 120, 216);padding-top:50px;padding-bottom:40px;background-image:none;background-attachment:scroll;background-size:auto;background-repeat:repeat;
}
#container-outer-1482897924-596959-0 .row {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-attachment:scroll;background-size:auto;background-repeat:repeat;
}
#placeholder-1482905001-334358-2  {
    height:20px;
}
#articleList-1482897780-266004-7 .site-widget-bd .page-container {
    text-align:left;
}
#button-1482896469-568893-9 .button-link {
    background-color:rgb(0, 204, 255);border-color:rgba(0, 0, 0, 0);
}
#button-1482896469-568893-9 .button-link:hover {
    color:rgb(0, 204, 255);border-color:rgb(0, 204, 255);background-color:rgba(0, 0, 0, 0);
}
#placeholder-1482911699-998478-7  {
    height:50px;
}
#placeholder-1482912122-046758-2  {
    height:50px;
}
#titleText-1482906467-736011-0 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#titleText-1482906467-736011-0 .site-widget-hd {
    display:block;font-size:18px;color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);margin-bottom:5px;padding-top:10px;padding-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-width:0px;
}
#titleText-1482906467-736011-0 .site-widget-hd .edit-title-link {
    color:rgb(255, 255, 255);
}
#titleText-1482906467-736011-0 .site-widget-bd {
    color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#titleText-1482906467-736011-0 .site-widget-bd a {
    color:rgb(255, 255, 255);
}
#titleText-1482909683-850219-0 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#titleText-1482909683-850219-0 .site-widget-hd {
    display:block;font-size:24px;color:rgb(51, 51, 51);background-color:rgba(0, 0, 0, 0);margin-bottom:10px;padding-top:10px;padding-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-width:0px;
}
#titleText-1482909683-850219-0 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#text-1482897840-880688-8 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#text-1482897840-880688-8 .site-widget-bd {
    color:rgb(0, 0, 0);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#titleText-1482896469-234039-6 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#titleText-1482896469-234039-6 .site-widget-hd {
    display:block;font-size:18px;color:rgb(51, 51, 51);background-color:rgba(0, 0, 0, 0);margin-bottom:5px;padding-top:10px;padding-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-width:0px;
}
#titleText-1482896469-234039-6 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#pic-1482910338-428695-5 {
    background-color:rgba(0, 0, 0, 0);margin-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#pic-1482910338-428695-5 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#pic-1482909919-270290-7 {
    background-color:rgba(0, 0, 0, 0);margin-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#pic-1482909919-270290-7 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#titleText-1482896469-762568-4 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#titleText-1482896469-762568-4 .site-widget-hd {
    display:block;font-size:18px;color:rgb(51, 51, 51);background-color:rgba(0, 0, 0, 0);margin-bottom:5px;padding-top:10px;padding-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-width:0px;
}
#titleText-1482896469-762568-4 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#pic-1482911968-395302-0 {
    background-color:rgba(0, 0, 0, 0);margin-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#pic-1482911968-395302-0 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#placeholder-1482904129-274048-5  {
    height:50px;
}
#pic-1482905070-693640-5 {
    background-color:rgba(0, 0, 0, 0);margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;padding-top:-10px;padding-bottom:-10px;padding-left:-10px;padding-right:-10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#pic-1482905070-693640-5 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#placeholder-1482912280-199602-4  {
    height:50px;
}
#titleText-1482909919-364925-4 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#titleText-1482909919-364925-4 .site-widget-hd {
    display:block;font-size:18px;color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);margin-bottom:5px;padding-top:10px;padding-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-width:0px;
}
#titleText-1482909919-364925-4 .site-widget-hd .edit-title-link {
    color:rgb(255, 255, 255);
}
#titleText-1482909919-364925-4 .site-widget-bd {
    color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#titleText-1482909919-364925-4 .site-widget-bd a {
    color:rgb(255, 255, 255);
}
#button-1482896469-074714-2 .button-link {
    background-color:rgb(0, 204, 255);border-color:rgba(0, 0, 0, 0);
}
#button-1482896469-074714-2 .button-link:hover {
    color:rgb(0, 204, 255);border-color:rgb(0, 204, 255);background-color:rgba(0, 0, 0, 0);
}
#button-1482896469-074714-2 .button-link i {
    color:rgb(255, 255, 255);
}
#titleText-1482907113-847036-4 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#titleText-1482907113-847036-4 .site-widget-hd {
    display:block;font-size:18px;color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);margin-bottom:5px;padding-top:10px;padding-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-width:0px;
}
#titleText-1482907113-847036-4 .site-widget-hd .edit-title-link {
    color:rgb(255, 255, 255);
}
#titleText-1482907113-847036-4 .site-widget-bd {
    color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#titleText-1482907113-847036-4 .site-widget-bd a {
    color:rgb(255, 255, 255);
}
#titleText-1482909919-703635-4 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#titleText-1482909919-703635-4 .site-widget-hd {
    display:block;font-size:24px;color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);margin-bottom:5px;padding-top:10px;padding-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-width:0px;
}
#titleText-1482909919-703635-4 .site-widget-hd .edit-title-link {
    color:rgb(255, 255, 255);
}
#titleText-1482909919-703635-4 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#placeholder-1482907042-499070-6  {
    height:40px;
}
#text-1482896494-141708-1 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#text-1482896494-141708-1 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#pic-1482910338-686058-9 {
    background-color:rgba(0, 0, 0, 0);margin-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#pic-1482910338-686058-9 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#articleList-1482896364-874413-9 .site-widget-bd .page-container {
    text-align:left;
}
#placeholder-1482896520-543153-7  {
    height:50px;
}
#placeholder-1482910298-100401-4  {
    height:60px;
}
#placeholder-1482912004-216512-4  {
    height:50px;
}
#container-outer-1482906467-973742-0 {
    background-color:rgb(60, 120, 216);padding-top:50px;padding-bottom:40px;background-image:none;background-attachment:scroll;background-size:auto;background-repeat:repeat;
}
#container-outer-1482906467-973742-0 .row {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-attachment:scroll;background-size:auto;background-repeat:repeat;
}
#pic-1482911968-202485-8 {
    background-color:rgba(0, 0, 0, 0);margin-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#pic-1482911968-202485-8 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#titleText-1482909919-885398-5 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#titleText-1482909919-885398-5 .site-widget-hd {
    display:block;font-size:18px;color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);margin-bottom:5px;padding-top:10px;padding-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-width:0px;
}
#titleText-1482909919-885398-5 .site-widget-hd .edit-title-link {
    color:rgb(255, 255, 255);
}
#titleText-1482909919-885398-5 .site-widget-bd {
    color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#titleText-1482909919-885398-5 .site-widget-bd a {
    color:rgb(255, 255, 255);
}
#pic-1482904911-697869-6 {
    background-color:rgba(0, 0, 0, 0);margin-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#pic-1482904911-697869-6 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#titleText-1482909919-739446-1 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#titleText-1482909919-739446-1 .site-widget-hd {
    display:block;font-size:18px;color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);margin-bottom:5px;padding-top:10px;padding-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-width:0px;
}
#titleText-1482909919-739446-1 .site-widget-hd .edit-title-link {
    color:rgb(255, 255, 255);
}
#titleText-1482909919-739446-1 .site-widget-bd {
    color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#titleText-1482909919-739446-1 .site-widget-bd a {
    color:rgb(255, 255, 255);
}
#titleText-1482903530-244705-9 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#titleText-1482903530-244705-9 .site-widget-hd {
    display:block;font-size:18px;color:rgb(255, 255, 255);background-color:rgba(0, 0, 0, 0);margin-bottom:5px;padding-top:10px;padding-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-width:0px;
}
#titleText-1482903530-244705-9 .site-widget-hd .edit-title-link {
    color:rgb(255, 255, 255);
}
#titleText-1482903530-244705-9 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#button-1482896469-857609-1 .button-link {
    background-color:rgb(0, 204, 255);border-color:rgba(0, 0, 0, 0);
}
#pic-1482911968-290000-2 {
    background-color:rgba(0, 0, 0, 0);margin-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#pic-1482911968-290000-2 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#pic-1482904886-303115-8 {
    background-color:rgba(0, 0, 0, 0);margin-bottom:10px;background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#pic-1482904886-303115-8 .site-widget-bd {
    color:rgb(137, 137, 137);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#articleGroup-1482911670-047769-2 .site-widget-bd .cate-slide .lev1 > .link-wrap > a {
    font-weight:normal;font-style:normal;text-decoration:none;
}
#productList-1482908665-276788-2 .site-widget-bd .pdl-item .pdl-item-box {
    border-style:solid;border-color:rgb(238, 238, 238);
}
#productList-1482908665-276788-2 .site-widget-bd .pdl-item .pdl-item-box:hover {
    border-style:solid;border-color:rgb(221, 221, 221);
}
#productList-1482908665-276788-2 .site-widget-bd .page-container {
    text-align:center;
}
#text-1482912062-296884-2 {
    background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(51, 51, 51);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(51, 51, 51);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(51, 51, 51);border-left-style:none;border-left-width:0px;border-right-color:rgb(51, 51, 51);border-right-style:none;border-right-width:0px;
}
#text-1482912062-296884-2 .site-widget-bd {
    color:rgb(0, 0, 0);background-color:rgba(0, 0, 0, 0);background-image:none;background-size:auto;background-repeat:repeat;border-top-color:rgb(137, 137, 137);border-top-style:none;border-top-width:0px;border-bottom-color:rgb(137, 137, 137);border-bottom-style:none;border-bottom-width:0px;border-left-color:rgb(137, 137, 137);border-left-style:none;border-left-width:0px;border-right-color:rgb(137, 137, 137);border-right-style:none;border-right-width:0px;
}
#text-1482912062-296884-2 .site-widget-bd a {
    color:rgb(0, 0, 0);
}
#placeholder-1482909813-445994-8  {
    height:50px;
}